allow hwservicemanager perfservice:dir r_dir_perms;
allow hwservicemanager perfservice:file r_file_perms;

allow hwservicemanager perfservice:process getattr;
