set_prop(ims, debug_prop)
allow ims self:capability net_raw;
allow ims hal_rcsservice_exec:file entrypoint;
allow ims self:capability2 wake_alarm;

allow ims hal_imsrcsd_hwservice:hwservice_manager add;
allow ims hidl_base_hwservice:hwservice_manager add;
