type init_uei, domain;
type init_uei_exec, exec_type, vendor_file_type, file_type;

# Allow for transition from init domain to init_uei
init_daemon_domain(init_uei)

# required to modify /data folders that aren't inside /data/vendor from a vendor init script
typeattribute init_uei data_between_core_and_vendor_violators;

# required for mkdir of /data/data/com.uei.quicksetsdk.letv
allow init_uei app_data_file:dir { add_name search create getattr open read setattr write };

# required for copying Settings from /vendor/etc to /data/data/com.uei.quicksetsdk.letv
allow init_uei app_data_file:file { create getattr open read setattr write };

# required for setting permissions for /data/data/com.uei.quicksetsdk.letv
# (dac_override required for running this script as root since running as system failed)
allow init_uei self:capability { chown dac_override fowner fsetid };
allow init_uei system_data_file:dir { getattr };

# Shell script needs to execute /vendor/bin/sh
allow init_uei vendor_shell_exec:file { rx_file_perms };
allow init_uei vendor_toolbox_exec:file { rx_file_perms };
