allow init devinfo_block_device:blk_file r_file_perms;

allow init proc:lnk_file { setattr };
allow init socket_device:sock_file { create setattr };
allow init camera_device:file { create_file_perms };

allow init sysfs_ir_enable:file setattr;

allow init vendor_perf_service:service_manager find;
allow init mnt_vendor_file:dir mounton;
