allow keystore hal_fingerprint_default:process { getattr };
allow keystore hal_fingerprint_default:dir { search };
allow keystore hal_fingerprint_default:file { r_file_perms };
