allow mediaserver cameraserver_service:service_manager { add };
allow mediaserver cameraproxy_service:service_manager { find };
allow mediaserver audio_device:chr_file { read write open ioctl };
allow mediaserver sysfs:file { write };
