type fingerprintd_custom_service, service_manager_type;
type goodix_service, service_manager_type;
type vendor_perf_service,         app_api_service, service_manager_type;
