on boot
    chown system system /sys/remote/enable
    chmod 666 /dev/remote/name
    chmod 666 /sys/remote/enable
    chmod 666 /dev/ttyHSL1

service ir-hal-1-0 /vendor/bin/hw/android.hardware.ir@1.0-service.leeco_s2
    class hal
    user system
    group system
