# Copyright (c) 2014-2015, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of The Linux Foundation nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#

import init.s2.usb.rc

on early-init
    symlink /data/tombstones /tombstones

on fs
    wait /dev/block/platform/soc.0/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc.0/${ro.boot.bootdevice} /dev/block/bootdevice
    mount_all fstab.qcom

    mkdir /persist/data 0700 system system
    restorecon_recursive /persist
    restorecon_recursive /dsp

on post-fs-data
    mkdir /data/tombstones 0771 system system
    mkdir /tombstones/modem 0771 system system
    mkdir /tombstones/lpass 0771 system system
    mkdir /tombstones/wcnss 0771 system system
    mkdir /tombstones/dsps 0771 system system
    mkdir /persist/data/sfs 0700 system system
    mkdir /persist/data/tz 0700 system system
    mkdir /data/misc/dts 0770 media audio
    mkdir /data/misc/audio_pp 0771 media audio

    chown media media /dev/i2c_smartpa
    chmod 0660 /dev/i2c_smartpa

    # sensors
    chown input system /sys/devices/platform/hardware_info/als_ps
    chown input system /sys/devices/platform/hardware_info/gsensor
    chown input system /sys/devices/platform/hardware_info/gyro
    chown input system /sys/devices/platform/hardware_info/msensor
    chmod 0664 /sys/devices/platform/hardware_info/als_ps
    chmod 0664 /sys/devices/platform/hardware_info/gsensor
    chmod 0664 /sys/devices/platform/hardware_info/gyro
    chmod 0664 /sys/devices/platform/hardware_info/msensor

    # type-c
    chown system system /sys/class/type-c/info/orientation
    chmod 0644 /sys/class/type-c/info/orientation
    chown system system /sys/class/type-c/info/ready
    chmod 0664 /sys/class/type-c/info/ready
    write /sys/class/type-c/info/ready 1
    chown system system /sys/class/type-c/info/mode
    chmod 0664 /sys/class/type-c/info/mode
    chown system system /sys/class/type-c/info/result
    chmod 0644 /sys/class/type-c/info/result
    chmod 660 /sys/class/type-c/info/vbus_status
    chown system system /sys/class/type-c/info/vbus_status

    # audio
    chown system system /system/bin/ext_spk_loopback
    chmod 0755 /system/bin/ext_spk_loopback
    chmod 0644 /sys/devices/soc.0/c051000.sound/usb_audio
    chmod 0644 /sys/devices/soc.0/c051000.sound/usb_audio_pid
    chmod 0644 /sys/module/snd_soc_msm8x16/parameters/headset_swap
    chmod 0644 /sys/module/snd_soc_msm8x16/parameters/usb_audio_mode
    chown media media /sys/devices/soc.0/c051000.sound/usb_audio
    chown media media /sys/devices/soc.0/c051000.sound/usb_audio_pid
    chown media media /sys/module/snd_soc_msm8x16/parameters/headset_swap
    chown media media /sys/module/snd_soc_msm8x16/parameters/usb_audio_mode

    # fingerprint
    chown system system  /dev/goodix_fp
    chmod 0644 /dev/goodix_fp
    chown system system  /vendor/bin/gx_fpd
    chmod 0755 /vendor/bin/gx_fpd

    chmod 660 /persist/serialno
    chown system system /persist/serialno

    # ir
    chmod 666 /sys/remote/enable
    chown system system /sys/remote/enable
    chmod 666 /dev/ttyHSL1
    chmod 666 /dev/ttyHS1
    chown system system /dev/ttyHSL1
    chown system system /dev/ttyHS1

    # leds
    chown system system /sys/module/leds_aw2013/parameters/aw2013_sleep_led
    chmod 0666 /sys/module/leds_aw2013/parameters/aw2013_sleep_led

    chown system system /sys/class/leds/red/blink
    chown system system /sys/class/leds/red/led_time

    chown system system /sys/class/leds/green/blink
    chown system system /sys/class/leds/green/led_time

    chown system system /sys/class/leds/blue/blink
    chown system system /sys/class/leds/blue/led_time

    chown system camera /sys/class/leds/led:flash_0/brightness
    chmod 0664 /sys/class/leds/led:flash_0/brightness

    chown system camera /sys/class/leds/led:flash_1/brightness
    chmod 0664 /sys/class/leds/led:flash_1/brightness

    chown system camera /sys/class/leds/led:torch_0/brightness
    chmod 0664 /sys/class/leds/led:torch_0/brightness

    chown system camera /sys/class/leds/led:torch_1/brightness
    chmod 0664 /sys/class/leds/led:torch_1/brightness

    chown system camera /sys/class/leds/torch-light0/brightness
    chmod 0664 /sys/class/leds/torch-light0/brightness

    chown system camera /sys/class/leds/torch-light1/brightness
    chmod 0664 /sys/class/leds/torch-light1/brightness

    chown system camera /sys/class/leds/led:switch/brightness
    chmod 0664 /sys/class/leds/led:switch/brightness

    # default display backlight max brightness
    write /sys/class/leds/lcd-backlight/max_brightness 255

    # reduced power rate when normal charge
    chown system system /sys/class/power_supply/battery/le_quick_charge_mode
    chmod 666 /sys/class/power_supply/battery/le_quick_charge_mode

# start camera server as daemon
service qcamerasvr /system/bin/mm-qcamera-daemon
    class late_start
    user camera
    group camera system inet input graphics

on init
   write /sys/module/qpnp_rtc/parameters/poweron_alarm 1

# enable zram
on property:ro.config.zram=true
    swapon_all fstab.qcom
    write /proc/sys/vm/swappiness 100

# Allow usb charging to be disabled peristently
on property:persist.usb.chgdisabled=1
    write /sys/class/power_supply/battery/charging_enabled 0

on property:persist.usb.chgdisabled=0
    write /sys/class/power_supply/battery/charging_enabled 1

service qseecomd /system/vendor/bin/qseecomd
   class core
   user root
   group root

service perfd /system/vendor/bin/perfd
   class main
   user root
   disabled

service thermal-engine /system/vendor/bin/thermal-engine
   class main
   user root
   socket thermal-send-client stream 0666 system system
   socket thermal-recv-client stream 0660 system system
   socket thermal-recv-passive-client stream 0666 system system
   socket thermal-send-rule stream 0660 system system
   group root

on boot
    start rmt_storage

    chown system system /proc/touchpanel/capacitive_keys_enable

    write /proc/sys/kernel/sched_boost 1

service wcnss-service /system/bin/wcnss_service
    class main
    user system
    group system wifi radio
    oneshot

service ppd /system/vendor/bin/mm-pp-daemon
    class late_start
    disabled
    user system
    socket pps stream 0660 system system
    group system graphics

on property:init.svc.surfaceflinger=stopped
    stop ppd

on property:init.svc.surfaceflinger=running
    start ppd

# workaround for color service issue
on property:init.svc.surfaceflinger=restarting
    stop ppd

on property:init.svc.zygote=stopped
    stop ppd

on property:init.svc.zygote=running
    start ppd

on property:init.svc.zygote=restarting
    stop ppd

service imsqmidaemon /system/vendor/bin/imsqmidaemon
    class main
    user system
    socket ims_qmid stream 0660 system radio
    group radio net_raw log diag
    seclabel u:r:ims:s0

service imsdatadaemon /system/vendor/bin/imsdatadaemon
    class main
    user system
    socket ims_datad stream 0660 system radio
    group system wifi radio inet net_raw log diag net_admin
    seclabel u:r:ims:s0
    disabled

on property:sys.ims.QMI_DAEMON_STATUS=1
    start imsdatadaemon

service ims_rtp_daemon /system/vendor/bin/ims_rtp_daemon
    class main
    user system
    socket ims_rtpd stream 0660 system radio
    group radio net_raw diag log
    seclabel u:r:hal_imsrtp:s0
    disabled

service imscmservice /system/vendor/bin/imscmservice
    class main
    user system
    group radio net_raw diag log
    seclabel u:r:ims:s0
    disabled

on property:sys.ims.DATA_DAEMON_STATUS=1
    start ims_rtp_daemon
    start imscmservice

service fingerprintd /system/bin/fingerprintd
    class late_start
    socket fpce stream 0666 system system
    user system

service gx_fpd /system/bin/gx_fpd
    class late_start
    user root
    group root system
    seclabel u:r:goodix:s0

on charger
    setprop persist.sys.usb.config mass_storage
    start qcom-post-boot
    setprop persist.sys.usb.config mass_storage
    start hvdcp_opti
    start thermal-engine

service adsprpcd /system/vendor/bin/adsprpcd
    class main
    user media
    group media

service hvdcp_opti /system/vendor/bin/hvdcp_opti
    class main
    user root
    group system wakelock
    seclabel u:r:hvdcp:s0

service per_mgr /system/vendor/bin/pm-service
    class core
    user system
    group system

service per_proxy /system/vendor/bin/pm-proxy
    class core
    user system
    group system
    disabled

on property:init.svc.per_mgr=running
    start per_proxy

on property:sys.shutdown.requested=*
    stop per_proxy

on property:persist.sys.le_fast_chrg_enable=1
    write /sys/class/power_supply/battery/le_quick_charge_mode 0

on property:persist.sys.le_fast_chrg_enable=0
    write /sys/class/power_supply/battery/le_quick_charge_mode 1

on property:sys.settings.powerlimit=1
    write /sys/class/power_supply/battery/charging_enabled 0

on property:sys.settings.powerlimit=0
    write /sys/class/power_supply/battery/charging_enabled 1

on property:sys.usb.config.powerlimit=1
    write /sys/class/power_supply/battery/system_temp_level 3

on property:sys.usb.config.powerlimit=0
    write /sys/class/power_supply/battery/system_temp_level 0

on property:sys.typec.set.mode=master
    write /sys/class/type-c/info/mode 0

on property:sys.typec.set.mode=client
    write /sys/class/type-c/info/mode 3

on property:persist.sys.usb.gps.notify=1
    write /sys/class/type-c/info/vbus_status 1

on property:persist.sys.usb.gps.notify=2
    write /sys/class/type-c/info/vbus_status 0
