on fs
    wait /dev/block/platform/soc.0/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc.0/${ro.boot.bootdevice} /dev/block/bootdevice

    setprop persist.adb.nonblocking_ffs 0
    setprop ro.adb.nonblocking_ffs 0
