on init
    # Disable UFS powersaving
    write /sys/devices/soc/${ro.boot.bootdevice}/clkscale_enable 0
    write /sys/devices/soc/${ro.boot.bootdevice}/clkgate_enable 0
    write /sys/devices/soc/${ro.boot.bootdevice}/${ro.boot.bootdevice}:ufs_variant/pm_qos_enable 0
    write /sys/module/lpm_levels/parameters/sleep_disabled Y
	
on boot
    # Bring CPUs online
    write /sys/devices/system/cpu/cpu0/online 1
    write /sys/devices/system/cpu/cpu1/online 1
    write /sys/devices/system/cpu/cpu2/online 1
    write /sys/devices/system/cpu/cpu3/online 1
    write /sys/devices/system/cpu/cpu4/online 1
    write /sys/devices/system/cpu/cpu5/online 1
    write /sys/devices/system/cpu/cpu6/online 1
    write /sys/devices/system/cpu/cpu7/online 1
	
    write /dev/cpuset/top-app/cpus 0-3
    write /dev/cpuset/foreground/cpus 0-3
    write /dev/cpuset/background/cpus 0-3
    write /dev/cpuset/system-background/cpus 0-3

    write /dev/cpuset/top-app/cpus 0-7
    write /dev/cpuset/foreground/cpus 0-7
    write /dev/cpuset/background/cpus 0-7
    write /dev/cpuset/system-background/cpus 0-7
	
on enable-low-power
    # Enable UFS powersaving
    write /sys/devices/soc/1da4000.ufshc/clkscale_enable 1
    write /sys/devices/soc/1da4000.ufshc/clkgate_enable 1
    write /sys/devices/soc/1da4000.ufshc/hibern8_on_idle_enable 1
	
    # Enable all LPMs (this will enable C4, D4, D3, E4 and M3 LPMs)
    write /sys/module/lpm_levels/parameters/sleep_disabled "N"
	
    # Enable Low Memory Killer
    write /sys/module/lowmemorykiller/parameters/enable_adaptive_lmk 1
    write /sys/module/lowmemorykiller/parameters/vmpressure_file_min 81250
	
	# Disable thermal bcl hotplug to switch governor
    write /sys/module/msm_thermal/core_control/enabled 0

    # Enable governor for power cluster
    write /sys/devices/system/cpu/cpu0/online 1
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "interactive"
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/go_hispeed_load 95
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_rate 20000
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/io_is_busy 1
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/min_sample_time 19000
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 400000
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/above_hispeed_delay 40000
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/hispeed_freq 806400
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/target_loads 90
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/max_freq_hysteresis 79000
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/ignore_hispeed_on_notif 1
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/enable_prediction 0
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_slack 80000
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/use_sched_load 1
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/use_migration_notif 1
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/enable_prediction 0
	
    # Enable governor for perf cluster
    write /sys/devices/system/cpu/cpu4/online 1
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor "interactive"
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/go_hispeed_load 95
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_rate 20000
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/io_is_busy 1
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/min_sample_time 19000
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/sampling_down_factor 40000
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq 400000
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/max_freq_hysteresis 39000
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/hispeed_freq 883200
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/above_hispeed_delay 40000
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/target_loads 90
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_slack 80000	
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/use_sched_load 1
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/use_migration_notif 1
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/ignore_hispeed_on_notif 1
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/enable_prediction 0

	# Re-enable thermal and BCL hotplug
    write /sys/module/msm_thermal/core_control/enabled 1
	
    # Setting b.L scheduler parameters
    write /proc/sys/kernel/sched_boost 0
    write /proc/sys/kernel/sched_upmigrate 95
    write /proc/sys/kernel/sched_downmigrate 90
    write /proc/sys/kernel/sched_freq_inc_notify 400000
    write /proc/sys/kernel/sched_freq_dec_notify 400000
    write /proc/sys/kernel/sched_spill_nr_run 3
    write /proc/sys/kernel/sched_init_task_load 100

    write /proc/sys/kernel/sched_window_stats_policy 2
    write /proc/sys/kernel/sched_ravg_hist_size 5

    write /sys/devices/system/cpu/cpu0/sched_mostly_idle_nr_run 3
    write /sys/devices/system/cpu/cpu1/sched_mostly_idle_nr_run 3
    write /sys/devices/system/cpu/cpu2/sched_mostly_idle_nr_run 3
    write /sys/devices/system/cpu/cpu3/sched_mostly_idle_nr_run 3
    write /sys/devices/system/cpu/cpu4/sched_mostly_idle_nr_run 3
    write /sys/devices/system/cpu/cpu5/sched_mostly_idle_nr_run 3
    write /sys/devices/system/cpu/cpu6/sched_mostly_idle_nr_run 3
    write /sys/devices/system/cpu/cpu7/sched_mostly_idle_nr_run 3

    write /sys/class/devfreq/qcom,mincpubw.50/governor "cpufreq"
    write /sys/class/devfreq/qcom,cpubw.49/governor "bw_hwmon"
    write /sys/class/devfreq/qcom,cpubw.49/bw_hwmon/io_percent 20
    write /sys/class/devfreq/qcom,cpubw.49/bw_hwmon/guard_band_mbps 30	
	
    # HMP Task packing settings for 8976
    write /proc/sys/kernel/sched_small_task 30
    write /sys/devices/system/cpu/cpu0/sched_mostly_idle_load 20
    write /sys/devices/system/cpu/cpu1/sched_mostly_idle_load 20
    write /sys/devices/system/cpu/cpu2/sched_mostly_idle_load 20
    write /sys/devices/system/cpu/cpu3/sched_mostly_idle_load 20
    write /sys/devices/system/cpu/cpu4/sched_mostly_idle_load 20
    write /sys/devices/system/cpu/cpu5/sched_mostly_idle_load 20
    write /sys/devices/system/cpu/cpu6/sched_mostly_idle_load 20
    write /sys/devices/system/cpu/cpu7/sched_mostly_idle_load 20

    # Disable L2 GDHS on 8976
    write /sys/module/lpm_levels/system/a53/a53-l2-gdhs/idle_enabled "N"
    write /sys/module/lpm_levels/system/a72/a72-l2-gdhs/idle_enabled "N"

    # Enable Low power modes
    write /sys/module/lpm_levels/parameters/sleep_disabled 0

    # Setup cpusets
    write /dev/cpuset/top-app/cpus 0-7
    write /dev/cpuset/foreground/boost/cpus 0-3,6-7
    write /dev/cpuset/foreground/cpus 0-3,6-7
    write /dev/cpuset/background/cpus 0-1
    write /dev/cpuset/system-background/cpus 0-3
    write /dev/cpuset/camera-daemon/cpus 0-3
	
    # VM
    write /proc/sys/vm/dirty_background_ratio 20
    write /proc/sys/vm/dirty_expire_centisecs 100
    write /proc/sys/vm/swappiness 5
    write /proc/sys/vm/vfs_cache_pressure 60

   # Core Control
    write /sys/devices/system/cpu/cpu0/core_ctl/min_cpus 2
    write /sys/devices/system/cpu/cpu4/core_ctl/min_cpus 0
    write /sys/devices/system/cpu/cpu4/core_ctl/max_cpus 4
    write /sys/devices/system/cpu/cpu4/core_ctl/busy_up_thres 60
    write /sys/devices/system/cpu/cpu4/core_ctl/busy_down_thres 30
    write /sys/devices/system/cpu/cpu4/core_ctl/offline_delay_ms 100
    write /sys/devices/system/cpu/cpu4/core_ctl/is_big_cluster 1
    write /sys/devices/system/cpu/cpu4/core_ctl/task_thres 4
	
on charger
    write /sys/devices/system/cpu/cpu1/online 0
    write /sys/devices/system/cpu/cpu2/online 0
    write /sys/devices/system/cpu/cpu3/online 0
    write /sys/devices/system/cpu/cpu4/online 0
    write /sys/devices/system/cpu/cpu5/online 0
    write /sys/module/msm_thermal/core_control/cpus_offlined 14
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "powersave"
    # Enable UFS powersaving
    write /sys/devices/soc/${ro.boot.bootdevice}/clkscale_enable 1
    write /sys/devices/soc/${ro.boot.bootdevice}/clkgate_enable 1
    write /sys/devices/soc/${ro.boot.bootdevice}/${ro.boot.bootdevice}:ufs_variant/pm_qos_enable 1
    write /sys/module/lpm_levels/parameters/sleep_disabled 0
	
on property:init.svc.recovery=running
    trigger enable-low-power

on property:sys.boot_completed=1
    trigger enable-low-power
